.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

input {
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-top: 20px;
}

p {
  margin-top: 20px;
  font-size: 18px;
}

.info {
  background-color: #f0f8ff;
  color: #282c34;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 300px;
  margin: 20px auto;
  font-family: Arial, sans-serif;
}

.container {
  background-color: #ebebeb;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  margin: 30px auto;
  text-align: center;
}

.submitButton {
  padding: 10px 20px;
  background-color: #005ab9;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-left: 10px;
}

.submitButton:hover {
  background-color: #006cdf;
}

input {
  margin: 0;
}

.error {
  color: red;
}
